.doom.d/
.elfeed/
.gvimrc
.mbsyncrc
.mbsyncrc-x86
.spacemacs-phone-new
Brewfile
api.json
com.googlecode.iterm2.plist
crossover-mac-license.txt
custom-lisp/
elfeed.org
emacs-daemon-setup.sh
fonts/
gnu.emacs.daemon.plist
imgcat.sh
init.straight.el
install-emacs-plus.sh
install_hy.sh
install_pygraphviz_apple_silicon.sh
lsp-config.el
mac_animation_speed.sh
newsboat-config
newsboat-urls
resistance_logo.png
setup_emacs.sh
skull.png
spacemacs-old
symlink.sh
tron-legacy-theme/
undo_mac_animation_speed.sh
uninstall-vscode.sh
vanilla-init.el
.spacemacs
.spacemacs-with-lsp